spring.datasource.url=jdbc:mysql://localhost:3306/paper_trading
spring.datasource.username=root
spring.datasource.password=pass
jwt.secret=top_secret
jwt.expiration=604800000
spring.data.redis.host=localhost
spring.data.redis.port=6379